
@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

@keyframes slide {
  0%, 20% { transform: translateX(0); }
  25%, 45% { transform: translateX(-100%); }
  50%, 70% { transform: translateX(-200%); }
  75%, 100% { transform: translateX(0); }
}

.animate-slide {
  animation: slide 12s infinite;
}

.swiper-pagination {
  bottom: -20px !important; /* push dots further down */
}

.swiper-pagination-bullet {
  background: white !important; /* change from default blue */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: #ec4899 !important; /* pink-500 */
  opacity: 1;
}


@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 4s ease infinite;
}
